
/** 



****/

/* Estilos gerais do header */
.header {
    background-color: #e68a0000;
    padding: 150px 0;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Container da logomarca e título */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Tamanho e estilo da logomarca */
.logo {
    max-width: 180px;
    width: 100%;
    margin-right: 10px;
    filter: drop-shadow(0px 2px 2px #00000058);
}

/* Barra de navegação */
.nav {
    background-color: #e68a0000;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Container para centralizar os itens */
.nav-containerA {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 2px 2px #00000058);
}

/* Container para centralizar os itens */
.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Lista de links de navegação */
.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos dos links */
.nav-link {
    color: #e89404;
    text-decoration: none;
    padding: 8px 30px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    text-shadow: 1px 1px 1px #5a5757c7;
}

/* Efeito hover nos links */
.nav-link:hover {
    color: #ffffff;
    background-color: #e89404;
    border-bottom: 5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

/* Links de login e cadastro */
.auth-links {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

/* Estilos dos links de login/cadastro */
.auth-linkA {
    color: #000000;
    background-color: #e89404;
    border-radius: 50px 0px 50px 0px;
    text-decoration: none;
    padding: 4px 60px;
    font-weight: 900;
    transition: ease .5s;
}

.auth-linkA:hover {
    background-color: #6344b8;
    border-radius: 25px;
    transition: ease-in-out .2s;
    color: #e89404;
}

/* Estilos dos links de login/cadastro */
.auth-linkB {
    color:  #e89404;
    background-color: #000000;
    border-radius: 50px 0px 50px 0px;
    text-decoration: none;
    padding: 4px 60px;
    font-weight: 900;
    transition: ease .5s;
}

.auth-linkB:hover {
    background-color: #b42e2e;
    border-radius: 25px;
    transition: ease-in-out .2s;
    color: #ffffff;
}

/* Campo de pesquisa */
.search-container {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    display: flex;
    justify-content: center; /* Centraliza o campo de pesquisa */
    position: relative;
    filter: drop-shadow(0px 2px 2px #00000058);
}

/* Estilo para o campo de entrada de texto */
.search-input {
    width: 100%;
    padding: 12px 40px 12px 12px; /* Espaço para o ícone */
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid #e89404;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

/* Colocando o ícone dentro do campo de pesquisa */
.search-input:focus {
    border-color: #e89404; /* Cor do foco */
}

/* Estilo para o botão de pesquisa */
.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* Alinha o ícone verticalmente ao centro */
    background: transparent;
    border: none;
    cursor: pointer;
    color: #e89404;
    font-size: 2rem;
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}

/* Efeito ao passar o mouse sobre o ícone */
.search-button:hover {
    color: #ff8400;
}

#banner {
    background-image: url('../assets/idosos-celulars.jpg');
    background-size: cover ; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    min-height: 40vh; /* Faz o componente ocupar a altura da tela */
  }

/* Media Queries para Responsividade */
