
/** 



****/
  
  #titulo {
    text-align: center;
    padding: 40px 20px;
    color: #000000; 
    min-height: 50vh;
  }
  
  .titulo h2 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }
  
  .titulo p {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px;
    padding: 30px 200px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .card h3 {
    font-size: 1.3rem;
    margin-top: 0;
    color: #e40303;
  }
  
  .card p {
    font-size: 1.3rem;
    color: #333;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.391); /* Fundo semitransparente para contraste */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .idoso {
    max-width: 100px;
    width: 100%;
    margin-right: 10px;
  }

  .atividades {
    max-width: 100px;
    width: 100%;
    margin-right: 10px;
  }

  .comunidade {
    max-width: 100px;
    width: 100%;
    margin-right: 10px;
}

.containerB {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 40px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
}

.image img {
  max-width: 80%; 
  height: auto; 
}

.text h1 {
  padding-left: 30px;
  text-align: justify; 
  font-size: 2.5rem;
}

.text p {
  flex: 2;
  padding-left: 30px;
  text-align: justify; 
  font-size: 1.3rem;
}
