


.container {
    background-color: #b1b0afc0;
    padding: 100px 0px 100px 0px;
    max-width: 1200px;
    margin: 0 auto;
}

.AppGit {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 60px;
    line-height: 1.6;
  }
  
  .AppGit-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .AppGit-content {
    font-size: 1.3em;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    text-shadow: 1px 1px 1px #5a5757c7;
  }
  
  .AppGit h1 {
    color: #d48700;
  }
  
  .AppGit h2, h3 {
    color:#d48700;
  }
  
  .AppGit ul, ol {
    margin-left: 20px;
  }
  
  .AppGit code {
    font-size: 16px;
    background-color: #f4f4f4;
    padding: 2px 6px;
  }
