
/** 




****/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #dbdbdb;
  color: #333;
}

header {
  background: #6200ea;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

section {
  margin: 20px 220px;
  padding: 30px;
  background: #ffae0094;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
}
